@import url("base.css");

table {
	width: 100%;
	empty-cells: hide;
	text-align: center;
	table-layout: fixed;
	margin: 0px auto 0px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

th, td {
	padding: 10px 10px 10px 10px;
	width: 150px;
}

thead th {
	background-color: rgb(30, 198, 255);
}

tbody th {
	background-color: rgb(32, 247, 171);
}

td {
	border: 1px solid #000;
}

td.notable {
	background-color: #f5deb3;
}