@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* To prevent shifting due to the scroll bar */
html {
	margin-left: calc(100vw - 100%);
}

/* Padding top to account for navbar */
body {
	font-size: 18px;
	overflow: auto;
	font-family: 'Quicksand', sans-serif;
}

::selection {
	background: #fde2e2;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #fde2e2;
	/* Gecko Browsers */
}

/* Hide scroll bar on homepage */
body.homepage {
	overflow: hidden;
}

/* Color homepage text white */
div.homepage-text {
	color: white;
	z-index: 1;
}

/* Homepage name color */
#homepage-name {
	color: #fde2e2;
}

/* Navbar background color */
nav.navbar {
	/* background-color: #E0FFEF; #E3F2FD;*/
	background-color: #fde2e2;
}

/* Table cell hover */
tbody tr td:hover {
	background-color: #dee2e6 !important;
}

/* Use to color table year */
tr.academic_year {
	background-color: #fff5e0;
}

/* Use to color table semester */
tr.academic_semester {
	background-color: #fde2e2;
}

/* Use to center carousel images */
.carousel-inner img {
	margin: auto;
}

/* Max height for pictures in gallery */
div img {
	max-height: 550px;
}

/* Use to hide underline under social media contact icons */
.contact>a {
	text-decoration: none;
}

/* After 992px, the navbar takes up 59px on the top
/* Margin top to account for navbar */
@media (min-width: 992px) {
	body {
		margin-top: 59px;
	}
}

/* Before 991.98px, the navbar takes up 56px on the top */
/* Margin top to account for navbar */
@media (max-width: 991.98px) {
	body {
		margin-top: 56px;
	}
}

/* Before 767.98px, maximize the carousel images */
@media (max-width: 767.98px) {
	.carousel-inner img {
		width: 100%;
	}
}
