html {
	/* To prevent shifting due to the scroll bar */
	margin-left: calc(100vw - 100%);
}

body {
	/* Padding top to account for navbar */
	font-size: 18px;
	padding-top: 70px;
	overflow: scroll;
}

nav.navbar {
	background-color: #e2fdf0;
}

.carousel-inner img {
	/* Use to center carousel images */
	margin: auto;
}

.table-hover tbody tr:hover {
	/* Use to make row highlighting transparent */
	background-color: rgba(0, 0, 0, 0);
}

.table-hover tbody tr td:hover {
	/* Use to color cell highlighting */
  background-color: #dee2e6 !important;
}

@media (max-width: 767.98px) {
	.carousel-inner img {
		/* Before 767.98px, maximize the carousel images */
		width: 100%;
	}
}

@media (max-width: 575.98px) {
	div.about {
		/* Before 575.98px, maximize text to 100% on the about page */
		width: 100%;
	}
}

@media (min-width: 576px) {
	div.about {
		/* After 576px, maximize text to 75% on the about page */
		width: 75%;
	}
}

/*
https://stackoverflow.com/questions/20721248/best-way-to-override-bootstrap-css
https://stackoverflow.com/questions/25531028/twitter-bootstrap-3-apply-hover-only-on-table-cells
*/
