@import url("base.css");

h2 {
	margin: 0px;
}

div.projects {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
}

div#bugtracking {
	background-color: #ffffe0;
}

div#website {
	background-color: #f0fff0;
}

div#library {
	background-color: #f0ffff;
}

div#airline {
	background-color: #e6e6fa;
}

div#calculator {
	background-color: #ffe4e1;
}

div#game {
	background-color: #ffefd5;
}

figure {
	text-align: center;
	vertical-align: middle;
}
